.catalogCarsItem {
  position: relative;
}

.catalogCarsItemDetails {
  display: flex;
  justify-content: space-between;
  color: #121417;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-right: 9px;
  margin-top: 14px;
}

.catalogCarsItemInfo {
  display: flex;
}

.carInfo {
  margin-right: 3px;
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carInfoYear {
  margin-left: 3px;
}
.modelInfo {
  color: #3470ff;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalogCarsItemDetailsMore {
  color: rgba(18, 20, 23, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; /* 150% */
  max-width: 274px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.catalogCarsItemDetailsMore span {
  margin-right: 4px;
  /* margin-left: 3px; */
}

.button {
  width: 100%;
}

.carItemHeartButton {
  position: absolute;
  top: 14px;
  right: 14px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 4;
}

.heartSvg {
  stroke: #ffffffcc;
  fill: transparent;
  width: 18px;
  height: 18px;
}

.heartSvg:hover {
  stroke: #3470ff;
  fill: #3470ff;
}
